<div class="carousel swiper-container hero-carousel w-full md:max-h-535">
  <div class="swiper-wrapper">    
    {% for image in product.images %}
      <li class="swiper-slide h-full" aria-hidden="false">
        <figure class="md:w-full md:h-full">
          {%
            render 'lazy-image',
            type: 'color',
            image_base: image
            sizes: '50vw',
            srcs: '800x,1200x',
            classes: 'object-contain md:object-cover md:max-h-535'
          %}
        </figure>
      </li>
    {% endfor %}
  </div>  
  <div class="absolute bottom-5 lg:bottom-15 flex flex-row justify-between lg:justify-center w-full px-20 lg:p-0 z-10">
    <button title="Previous Button" type="button" class="swiper-button-prev flex justify-center items-center md:w-27 h-40">{% render 'icons', icon: 'arrow-prev' %}</button>
    <div class="fraction-pagination font-sansRegular label-md flex items-center w-auto mx-20"></div>
    <button title="Next Button" type="button" class="swiper-button-next flex justify-center items-center md:w-27 h-40">{% render 'icons', icon: 'arrow-next' %}</button>
  </div>
</div>


{% if product.media.size > 1 %}
  <div data-product-thumbs class="media__thumb__wrapper md:grid-cols-7 gap-4 mt-15 cursor-pointer hidden md:grid">
    {% for media in product.media %}
      <div class="media__thumb mr-5" 
        data-slideshow-thumbnail 
        data-media-select="{{ forloop.index0 }}">
        <img alt="{{ media.alt | strip_html | escape }}" src="{{ media.preview_image.src | img_url: '120x120', crop: 'center' }}">
      </div>
    {% endfor %}
  </div>
{%- endif -%}