<div class="main-content" id="MainContent" role="main">
  <section class="empty-page-content text-center mt-70 px-20 py-60 md:py-100">
    <div clas="rich-text-wrapper md:w-1/2 m-auto px-20 mdpx-40">
      <h1 class="h3 mb-30">{{ 'general.404.title' | t }}</h1>
      <p>{{ 'general.404.subtext' | t }}</p>
    </div>
  </section>
</div>
