<div class="page-about">
  {% section 'about-banner-text-image' %}
  {% section 'about-image-text' %}
  {% section 'about-grid-image-text' %}
  {% section 'about-grid-products' %}
  {% section 'about-banner-full' %}
  {% section 'about-facts' %}
</div>