<section class="mt-70 py-60 md:py-100">
  <div class="rich-text-wrapper md:w-1/2 m-auto px-20 mdpx-40">
    <h1 class="h3 mb-60 md:mb-80">{{ page.title }}</h1>
    {{ page.content }}
  </div>
</section>