<div class="page-about">
  {% section 'about-banner-text-image-2' %}
  {% section 'about-image-text-2' %}
  {% section 'about-grid-image-text-2' %}
  {% section 'about-grid-products-2' %}
  {% section 'about-banner-full-2' %}
  {% section 'about-facts-2' %}
</div>