<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/JTJKcuKbjI0AZqbjA6MgYA" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="259917"></div>

<style>
  .yotpo-widget-instance {
    background: #fff !important;
}
  </style>